<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Game Back-Logger</title>
</head>
<body>
    <h1>All User Game Logs</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/logs">Logger</a>
        <a href="/logs/new">Add New Game Log</a>
    </nav>
    <ul>
        <% logs.forEach(function(log) { %>
            <li>
                <strong>UserID: </strong> <%= log.userId %>

                <strong>Title: </strong> <%= log.gameTitle %>

                <strong>Status: </strong> <%= log.completionStatus %>

                <strong>User Rating: </strong> <%= log.userRating %>

                <form action="/logs/<%= log._id %>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete">
                </form>
                <button><a href="/logs/<%= log._id %>/edit">Edit</a></button>
            </li>
        <% }); %>
    </ul>

</body>
</html>